<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="footer_top flex-column text-center">
          <div class="footer_logo">
            <h2 class="text-dark" href="#">
              Sey3di.com
            </h2>
            <h4>Follow Me</h4>
          </div>
          <div class="footer_social">
            <a href="https://facebook.com/davoudseyedi"><i class="fab fa-facebook fa-2x"></i></a>
            <a class="ms-2" href="https://linkedin.com/in/davoudseyedi"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-12 col-lg-8 col-sm-12 footer-text text-center">

        Copyright © <script>document.write(new Date().getFullYear());</script>2022 All rights reserved
      </p>
    </div>
  </div>
</footer>
